h1 {
    color: black;
    font-family: verdana;
    font-size: 300%;
}
h2 {
    color: darkslategray;
    font-family: verdana;
    font-size: 200%;
}
h3 {
    color: darkslategray;
    font-family: verdana;
    font-size: 110%;
}
p {
    color: grey;
    font-family: Arial;
    font-size: 100%;
}
body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
#map {
    height: 400px;
    width: 400px;
}
#mapdiv {
    display: inline;
    width: 30%;
}
#citiesdiv {
    display: inline;
    width: 15%;
}
#timesdiv {
    display: inline;
    width: 15%;
}
#logdiv {
    display: inline;
    width: 15%;
}