h1 {
    color: black;
    font-family: verdana;
    font-size: 300%;
}
h2 {
    color: darkslategray;
    font-family: verdana;
    font-size: 200%;
}
h3 {
    color: darkslategray;
    font-family: verdana;
    font-size: 110%;
}
h3 {
    color: darkslategray;
    font-family: verdana;
    font-size: 100%;
}
p {
    color: grey;
    font-family: Arial;
    font-size: 100%;
}
td {
    padding: 2px;
}
body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
#citiesdiv {
    min-width: 170px;
}
#timesdiv {
    min-width: 300px;
    overflow: auto;
}
#progress {
    width: 400px;
    height: 400px;
    overflow: auto;
}
#mapdiv {
    
}
#map {
    height: 350px;
    width: 700px;
    margin: 1px;
    padding: 1px;
}
.button{
    padding: 10px;
    color: white;
    border: 0;
    margin-left: 20px;
}
.input{
    display: inline;
    float: left;
    padding: 10px;
    width: auto;
    height: 410px;
    margin: 2px;
    vertical-align: top;
    background-color: #e7e7e7;
}
.datepicker{
    height: 12px;
    margin-top: 0;
    margin-bottom: 0;
}